body{
    font-family: 'Roboto',sans-serif;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
   font-weight: 300;
   width: 100%;
}

header{
    border: 3px;
    padding:0px;
    margin:0px
    background-color:#FAFAFA;
    border-bottom: 1px solid rgb(218, 214, 214);
    font-size: 15px;
 }

nav li{
    list-style-type: none;
    float: left;
  
}
nav ul{
    margin: 0px;
    padding: 0px;
}
nav{

    width: 100%;
    background-color: none;
    display: inline-block;
    border-bottom: 0px solid black;
    box-shadow: 0px 4px 5px rgb(199, 198, 198);
    
}
nav a{
    display: inline-block;
    text-decoration: none;
    padding: 17px 30px;
    color:#545454;
    font-size: 14px;
    font-weight: 400;
}

.table{
    display: table;
    display: flex;
    justify-content: space-between;
   
}
ul:hover{
    border-top: 0px solid blue;
    color: blue;

}
.p1{
    display: inline-block;
    width: 50%
}
.p2{
    display: inline-block;
    width: 50%;
}

.fonc, .menu-ass-conn{
    display: flex;
    justify-content: space-between;
}
.menu-haut{
    display: flex;
    justify-content: space-between;
    margin:0px;
    background-color: rgb(250, 248, 248);
}
.menu1{
    border:2px solid rgb(106, 177, 235);
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 1px;
    text-decoration:#FAFAFA;
 }

.menu2 {
    color: white;
    margin:5px;
    border-radius: 3px;
    padding:10px;
    padding-left:15px;
    padding-right:15px;
    background-color: #4285F5;
  }
.gsui{
    display: inline;
    padding:5px;
    margin:0px;
    font-weight:400 ;
  }
.G{
    font-weight: bold;
  }
.byg{
    display:inline;
  }

.btn-demarrer{
    color: white;
}
.g_left{
    margin:15px;
    padding-top:5px;
    display:inline-block;
  }
.g_right{
    margin:15px;
    margin-top: 25px;
  }
.menu-fixe{
    width:100%;
    margin:0px;
    padding: 0px;
    position:fixed;
    background-color: white;
    z-index: 10;
  }
.bas{
    padding-top:180px;
  }
.li-menu, .li-menu2 {
    height: 50px;
    margin-bottom:1px;
    display: flex;

  }

.btn-contactez{
    color:#598CF4;
 }


.m1:hover {
    background-color: rgb(97, 120, 226);
}
.btn-contactez:hover {
    color: white;
}

.gsui {
    padding-right: 0px;
    font-size: 200%;
    color:#737373;

}
.byg{
    padding-right:0px;
    font-size: 80%;
    color: #737373;

}

.pres7, .pres8{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.foot{
    display:flex;
    justify-content:space-between;
}
.s-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

.s-menu a {
    text-decoration: none;
    display: block;
    text-align: left;
}
.titre-blanc-footer{
    font-size: 16px;
    color:white;
}


.btn-menu:hover .s-menu{
    display: block;
    padding: 12px 16px;
    
}
.fonctio-btn {

    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #545454;
    font-weight: 400;
    
}
.image-left {
    width: 50%;

}
.image-right{
    display:inline-block;
   float: right;
    width: 50%;

}


.img-left{
    display: flex;
    align-self: flex-start;
    width: 50%;

}


.partie-1{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
} 

.partie-2{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.partie-3{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.partie-4{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.partie-5{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.partie-6{
    display: flex;
    justify-content: space-between;
    flex-direction:row;
}
.titre-6, .para-6{
    display: flex;
    font-weight: 300;
}
.contenu-page{
    padding-top: 120px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.partie-d{
    width: 50%;
    padding-top: 60px;
    padding-left: 20px;
    padding-bottom: 40px;
}

.img-drive{
    width: 60px;
    height: 60px;
    padding: 0px 29px 20px 0px;
    margin-top: 70px;

} 
.photo.jpg{
    display: inline;

}
.partie-g{
    padding-left: 70px;
    width:50%;
    padding-top: 60px;
    padding-bottom: 40px;
}
.pres, .pres5, .pres3{
    display: flex;
    flex-direction: row-reverse;
    background-color: #F6F6F6;
    width: 100%;
    height: 382px;
    padding-bottom: 60px;
    padding-top: 40px;
}
.pres6{
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 100%;
    height: 382px;
    padding-bottom: 60px;
    padding-top: 50px;
}
.pres4{
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 100%;
    height: 382px;
    padding-bottom: 80px;
    padding-top: 50px;
}
.pres2{
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 100%;
    height: 382px;
    padding-bottom: 60px;
    padding-top: 50px;

}
.pres7, .pres8{
    display: flex;
    justify-content: space-around;
    flex-direction: wrap;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.actu-fin{
    display: block;
    background-color: #545454;
    padding:2px;
    height: 100%;
    width: 100%
}
.para-actu{
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-align: justify;
    text-align: center;
    color: white;
}
.image1 {
    background-image: url(media/photo.jpg);
    background-size: cover;
    background-position: center center;
    height: 382px;
}
.image2{
    background-image: url(media/photo2.png);
    background-size: 85%;
    background-position: center center;
    background-repeat: no-repeat;
}
.image3{
    background-image: url(media/photo3.png);
    background-size: 85%;
    background-position: center center;
    background-repeat: no-repeat;
}
.image4{
    background-image: url(media/photo4.png);
    background-size: 85%;
    background-position: center center;
    background-repeat: no-repeat;
}
.image5{
    background-image: url(media/photo5.png);
    background-size: 85%;
    background-position: center center;
    background-repeat: no-repeat;
}
.image6{
    background-image: url(media/photo6.png);
    background-size:85%;
    background-position: center center;
    background-repeat: no-repeat;
}
.para1{
    display: flex;
    align-self: center;
    flex-direction: column;
    margin-left:70px;
    
}
.h1-p1{
    font-family: 'Roboto',sans-serif;
    color: #414141;
    font-size: 48px;
    letter-spacing: -.2px;
    line-height: 46px;
    padding: 0 0 20px 0;
    font-weight: 300;
    margin-top: 80px;
}
.drive-icone{
    display: flex;
    flex-direction: row;
}
.titre-p1{
    font-size: 18px;
    color:#545454;
    font-weight: 300;
    margin-top: -35px;
}
.p1-dec{
    text-align: justify;
    color:#545454;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}
.demarrer-2{
    color: white;
}
.btn-demarrer2{
    color: white;
    margin:5px;
    border-radius: 3px;
    padding:10px;
    padding-left:15px;
    padding-right:15px;
    background-color: #4285F5;
    width: 100.78px;
    height:5px;
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .5px;
    line-height: 18px;
    min-height: 20px;
    min-width: 100px;
  }
  .p2-dec{
    text-align: justify;
    margin: 0 0 25px 0;
    font-size: 18px;
    font-weight: normal;
    line-height: 26px;
    font-weight: 300;
    color:#545454;
    
  }
.titre-p2{
    text-align: justify;
    font-weight: 300;
    color: #414141;
    font-size: 30px;
    line-height: 38px;
    margin: 0 0 20px;
    
  }
.titre-bloc{
    text-align: justify;
    font-family: 'Roboto',sans-serif;
    color: #414141;
    font-size: 18px;
    letter-spacing: normal;
    line-height: 26px;
    margin: 0 0 20px 0;
    font-weight: 400;
  }
.para-b{
    text-align: justify;
    color: #545454;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
  }

.ques-8-titre{
    text-align: justify;
    font-family: 'Roboto',sans-serif;
    color: #545454;
    margin: 0 0 40px 0;
    font-size: 38px;
    line-height: 46px;
    padding-left: 40px;
    padding-top: 40px;
  }
.foot{
    display: flex;
    flex-direction: row;

  }
.foot-fin{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
  }
.bloc1-7, .bloc2-7, .bloc3-7{
    padding-left:40px;
}  
.pres7{
    background-color: #F6F6F6;
}

.bloc-1-8, .bloc-2-8, .bloc-3-8{
    padding-left:40px;
    }
.btn-footer{
    padding-left: 40px;
    text-align: center;
    text-decoration: none;
    }
.foot-fin2{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding-right: 40px;
    }
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
      }

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;  
    display: inline-block;
        line-height: 1;
    text-transform: none;
    letter-spacing: normal;

       
      }
.btn-sans-s-menu{
    margin-top:2px;
}
.btn-footer2{
    text-decoration: none;
    list-style: none;
    margin-right: 60px;
    padding-bottom: 25px;
}
.material-icons{
    color: grey;
    font-size: 22px;
}
.par-1, .par-2{
    display:inline-block;
    color: rgb(245, 241, 241);
    margin-left: 60px;
    font-size: 12px;
    font-weight: 300;
    text-decoration: none;
    line-height: 20px;
}
.tous-bloc {
    display: flex;
    justify-content: space-between;
   align-content: top;
   line-height: 20px;
   width: 90%;
   height: 80%;
   margin-left: 20px;

}
.searchbar{
    position:relative; width:1040px; height:auto;
    display:inline-block;
    width:600px;
    height:35px;
}
.fonctionnalité, .Solutions, .tarifs, .ressources, .Assistance, .solution-connexes{
    display:inline-block;
    border-top: 0px;

}

li {
    list-style: none;
    line-height: 30px;
    font-weight: 400;


}
.partie-grise{
   
    width: 100%;

}
hr{
    width: 85%;
    margin-left:50px;
    margin-top: 13px;
}
footer{
    background-color: #414141;
}
.titre-blanc-footer{
   font-size: 16px;
   color:white;
   font-weight: 400;
}
a{
    text-decoration: none;
    color:rgb(206, 204, 204);

  }
.text-input,#s,textarea  {
    display: inline-block;
    flex-direction: right;
    clear: both;
    border: 0px solid #ccc;
    margin-bottom: 5px;
    padding: 7px;
    color: rgba(255,255,255,.38);
    font-size: 12px;
    border-radius: 2px;
    width: 300px;
    height: 30px;  
    background: url(media/image-loupe.svg) left no-repeat;
    background-color: #616161;
    margin-left: 140px;


} 
.searchbar{
    display: inline-block;
    flex-direction: right;
    clear: both;
    margin-bottom: 5px;
    padding: 7px;
    color: rgba(255,255,255,.38);
    width: 400px;
    height: 30px;  
    margin:30px; 
}
.twit{
    width: 25px;
    height: 25px;
}
.gou{
    display: inline;
    width: 22px;
    height: 22px;
    background-color: grey;
    border-radius: 100%;
}
.partie-footer{
    display: inline;
}

.gog{
    
    position: absolute;
    margin-left: 153px;
    margin-top: -34px;
    
}

